/OTMKurssiprojekti/nbproject/private/
/OTMKurssiprojekti/build/
/OTMKurssiprojekti/dist/
/OTMKurssiprojekti/users/
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Maksukortti/dist/
/laskarit/viikko2/Unicafe/nbproject/private/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/build/
/laskarit/viikko2/Unicafe/dist/
/DungeonCrawler/src/OTMKurssiprojekti/build/
/DungeonCrawler/src/OTMKurssiprojekti/nbproject/private/
/DungeonCrawler/target/
/DungeonCrawler/nbproject/